<!doctype html>
<html class="no-js" lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{title}}</title>
    <meta name="description" content="{{description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{{path.url}}assets/css/site.css?v={{site.cssVersion}}" />

    <link rel="apple-touch-icon" sizes="180x180" href="{{path.url}}apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{path.url}}favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{path.url}}favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{path.url}}manifest.json">
    <link rel="mask-icon" href="{{path.url}}safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
